$main-color: #179494;
$text-color: #171c1c;
.cart {
	margin: 0 auto;
	display: flex;
	align-items: center;
	&__content {
		text-align: center;
	}
	&__img {
		display: block;
		width: 8rem;
		height: 8rem;
		margin: 0 auto;
	}
	&__title {
		font-size: 2.5rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}
}
.non-card {
	&__text {
		font-size: 1.8rem;
		color: #666666;
		margin-bottom: 1.5rem;
	}
	&__btn {
		margin: 0 auto;
		display: block;
		text-decoration: none;
		width: 20rem;
		height: 4rem;
		line-height: 4rem;
		font-size: 1.8rem;
		font-weight: 500;
		color: #ffffff;
	}
}
.empty-card {
	display: none;
	&__text {
		font-size: 1.8rem;
		color: #666666;
	}
}
.cart-items {
	margin: 0 auto;
	&__body {
		width: 85vw;
	}
}
.cart-item {
	text-align: start;
	position: relative;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	width: calc(100% - 1rem);
	border-radius: 1.5rem;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	margin-bottom: 2rem;
	&__content {
		margin-left: 1rem;
	}
	&__img {
		width: 12rem;
		height: 12rem;
	}
	&__price {
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 500;
		margin-bottom: 1rem;
		border-bottom: 2px solid $main-color;
		letter-spacing: 0.05rem;
	}
	&__brand {
		font-size: 1.6rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	&__amount {
		font-size: 1.4rem;
		color: #666666;
		margin-bottom: 1rem;
	}
	&__control {
		font-size: 2rem;
		display: flex;
		border: 2px solid $main-color;
		border-radius: 0.5rem;
		width: 10rem;
		justify-content: center;
	}
	&__btn {
		font-size: 2rem;
		width: 5rem;
		height: 2.3rem;
		line-height: 1.5rem;
		border: none;
		font-family: Roboto;
		font-weight: 700;
		cursor: pointer;
	}
	&__btn:hover {
		background-color: $main-color;
	}
	&__delete {
		border: none;
		background: url('https://img.icons8.com/cotton/40/000000/delete-sign--v2.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		width: 3.5rem;
		height: 3.5rem;
		justify-self: flex-end;
		position: absolute;
		right: 1.5rem;
		border-radius: 5rem;
	}
}
.cart-total {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	height: 12rem;
	width: 25rem;
	margin: 3rem auto;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid $main-color;
	&__title {
		font-size: 2rem;
		font-weight: 500;
	}
	&__sum {
		font-size: 1.8rem;
		font-weight: 500;
		margin-top: 0.5rem;
		letter-spacing: 0.05rem;
	}
	&__btn {
		margin: 0 auto;
		margin-top: 1rem;
		display: block;
		text-decoration: none;
		width: 20rem;
		height: 4rem;
		line-height: 4rem;
		font-size: 1.8rem;
		font-weight: 500;
		color: #ffffff;
	}
}
.popup {
	&__overlay {
		background: #1a1a1a;
		opacity: 0.67;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 99;
	}
	&__container {
		position: fixed;
		left: 50%;
		top: 30%;
		transform: (translateX(-50%));
		background: #ffffff;
		border-radius: 1rem;
		width: 31rem;
		z-index: 999;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 2px solid $main-color;
		text-align: center;
	}
	&__close {
		position: absolute;
		background: url('https://img.icons8.com/windows/30/000000/macos-close.png');
		width: 3rem;
		height: 3rem;
		right: 0.3rem;
		top: 0.3rem;
		display: block;
		cursor: pointer;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 5rem;
	}
	&__title {
		font-size: 2.5rem;
		margin-top: 2.5rem;
		font-weight: 700;
	}
	&__text {
		font-size: 1.8rem;
		margin: 1.5rem 0;
	}
	&__img {
		height: 9rem;
		width: 9rem;
		display: block;
		margin-bottom: 2rem;
	}
}
@media only screen and (min-width: 1200px) {
	.cart-items {
		margin: 0 auto;
		&__body {
			width: 90rem;
		}
	}
	.cart-item {
		&__content {
			margin-left: 2rem;
		}
	}
}
